body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
}

a:link {
    color: #F00;
}

a:visited {
    color: #FC0;
}

a:hover {
    background-color: #3CF;
    color: #03F;
}

a:active {
    color: #F3F;
}

.logo {
    font-size: 36px;
}

#navlist li {
    display: inline-block; /* Changed from inline to inline-block for better control */
    padding-right: 20px;
    border-left: 1px solid #000;
    line-height: 1.1em;
    margin: 0 .5em 0 -.5em;
    padding: 0 .5em;
    list-style: none; /* Removed circle style since it's not necessary */
}

.box, .nav, .left, .centre, .right, .lower_nav, .legal {
    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.box {
    background-color: #666;
    clear: both;
}

.nav, .lower_nav, .legal {
    background-color: #999;
}

.left, .centre, .right {
    background-color: #CCC;
}

.left {
    width: 20%;
    float: left;
}

.centre {
    width: 47%;
    float: left;
}

.right {
    width: 20%;
    float: right;
}

.lower_nav, .legal {
    clear: both;
}

.deadnav {
    color: #FFF;
    background-color: #3CF;
}
